@use '../../sass/variables';

.Main {
  min-height: 93vh;
  display: flex;
  justify-content: center;
  &_Container {
    background: #fff;
    width: 90%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
  }

  &_Title {
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
    padding: 10px;
    color: variables.$principal;
    margin-block: 20px;
  }

  &_List {
    list-style: none;
    flex: 1;
    width: 95%;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;

    &_Element {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      border-top: 1px solid variables.$light-principal;

      &:last-child {
        border-bottom: 1px solid variables.$light-principal;
      }

      &_Title{
        font-size: 14px;

        &_Symbol{
          font-weight: bold;
          margin-right: 5px;
        }
      }

      &_Button{
        background: transparent;
        border: none;
        color: variables.$light-principal;
      }
    }
  }
}
